<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tenkent.point.mall.repository.dao.PointTestMapper" >
  <resultMap id="BaseResultMap" type="com.tenkent.point.mall.repository.entity.PointTest" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="test_id" property="testId" jdbcType="INTEGER" />
    <id column="user_phone" property="userPhone" jdbcType="BIGINT" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>