<div class="login-box">
    <div class="w1200">
        <img src="img/login-logo.png" class="login-logo"/>

        <div class="login-form">
            <input id="name" type="text" class="login-text zhangh" placeholder="请输入用户名"/> &nbsp;<input id="password" type="password"
                                                                                             class="login-text mima"
                                                                                             placeholder="请输入密码"/>
            <input id="btnLogin" type="submit" class="btn" value="登录"/>

            <div class="rem">  &nbsp;&nbsp;&nbsp;<input type="checkbox"/>记住我的用户名 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                        href="">忘记密码</a></div>
        </div>
    </div>
</div>
