<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zte.alm.safety.repository.mapper.SysGroupMapper" >
  <resultMap id="BaseResultMap" type="com.zte.alm.safety.repository.entity.SysGroup" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="BIGINT" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="last_updated_by" property="lastUpdatedBy" jdbcType="BIGINT" />
    <result column="enabled_flag" property="enabledFlag" jdbcType="BIT" />
  </resultMap>
  <select id="query" parameterType="Map" resultType="Map">
    <![CDATA[
    SELECT
       t.id,
      t.name,
      t.description,
      t.creation_time AS creationTime,
      t.created_by AS createdBy,
      t.last_update_time AS lastUpdateTime,
      t.last_updated_by AS lastUpdatedBy,
      t.enabled_flag AS enabledFlag
    FROM
      sys_group t
    WHERE t.enabled_flag =1
    ]]>
    <if test="name!= null">
      <![CDATA[ AND t.name = #{name} ]]>
    </if>
    <if test="createdBy!= null">
      <![CDATA[ AND t.created_by = #{createdBy}]]>
    </if>
  </select>
  <select id="queryAll" resultType="Map">
    <![CDATA[
    SELECT
       t.id,
      t.name,
      t.description,
      t.creation_time AS creationTime,
      t.created_by AS createdBy,
      t.last_update_time AS lastUpdateTime,
      t.last_updated_by AS lastUpdatedBy,
      t.enabled_flag AS enabledFlag
    FROM
      sys_group t
    WHERE t.enabled_flag =1
       ]]>
  </select>
</mapper>