<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
    <!--
    <import resource="spring-cache-config.xml"></import>
    <import resource="spring-shiro-config.xml"></import>
    -->
    <import resource="spring-mybatis-config.xml"></import>
    <import resource="spring-service-config.xml"></import>

    <!-- rest api支持全局跨域访问配置 -->
    <bean class="com.tenkent.point.infrastructure.spring.CorsConfigurerAdapter"></bean>

</beans>