<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <!-- 启用缓存注解功能，如果使用注解方式，这个是必须的，否则注解不会生效-->
    <cache:annotation-driven cache-manager="cacheManager"/>

    <bean id="springEhCacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="ehcache" />
    </bean>

    <bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:conf/cache/ehcache.xml"/>
        <property name="shared" value="true" />
    </bean>

    <bean id="cacheManager" class="org.springframework.cache.concurrent.ConcurrentMapCacheManager">
    </bean>

    <!-- 那些方法需要应用缓存，应该是编码的时候就确定的，所以不建议使用配置方式，建议使用注解方式 -->
    <!--
    <aop:config>
       <aop:advisor advice-ref="cacheAdvice"
               pointcut="execution(* com.zte.alm.safety.service.IListService.*(..))" />
    </aop:config>
    <cache:advice id="cacheAdvice" cache-manager="cacheManager">
        <cache:caching cache="safetyCache">
            <cache:cacheable method="queryAll" />
        </cache:caching>
    </cache:advice>
    -->
</beans>